button:hover{
   color: white;
   background-color: black;
   border:none;
}
@media screen (min-width:1280px) {
   
  
   
  
}
@media only screen and (min-width: 1536px) and (max-width: 1280px) and (resolution: 150dpi) {
  body {
    flex-wrap:wrap;
  }
}

@media only screen and (min-width: 1280px) and (max-width:1024px) and (resolution: 150dpi) {
  body {
    flex-wrap:wrap;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 768px) and (resolution: 150dpi) {
  body {
    flex-wrap:wrap;
  }
}
@media only screen and (min-width: 768px) and (max-width: 640px) and (resolution: 150dpi) {
  body {
    flex-wrap:wrap;
  }
}
